@font-face {
    font-family: 'burst_my_bubbleregular';
    src: url('burstmybubble-webfont.eot');
    src: url('burstmybubble-webfont.eot?#iefix') format('embedded-opentype'),
         url('burstmybubble-webfont.woff2') format('woff2'),
         url('burstmybubble-webfont.woff') format('woff'),
         url('burstmybubble-webfont.ttf') format('truetype'),
         url('burstmybubble-webfont.svg#burst_my_bubbleregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'burst_my_bubbleitalic';
    src: url('burstmybubbleitalic-webfont.eot');
    src: url('burstmybubbleitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('burstmybubbleitalic-webfont.woff2') format('woff2'),
         url('burstmybubbleitalic-webfont.woff') format('woff'),
         url('burstmybubbleitalic-webfont.ttf') format('truetype'),
         url('burstmybubbleitalic-webfont.svg#burst_my_bubbleitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  font-family: 'burst_my_bubbleregular';
  background: #000;
}

a {
  color: #000;
}

#prince {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 40%;
  max-height: 80%;
  z-index: 1;
}

.tip {
  z-index: 10;
  position: relative;
}

.tip h1 {
  font-size: 24px;
  color: white;
  font-weight: normal;
}

button {
  background: #CF081E;
  border: none;
  font-family: inherit;
  font-size: 24px;
  padding: 16px 18px 12px 18px;
  line-height: 1;
  color: #fff;
  border-radius: 50px;
  border: 2px solid black;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background: #e20019;
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 10;
  font-size: 20px;
  margin-bottom: 0;
  color: white;
}

@media (min-width: 1024px) {

  #prince {
    height: 80%;
    max-width: 20%;
  }

  .tip {
    padding: 20px;
    position: absolute;
    left: 25%;
    top: 30%;
    max-width: 50%;
  }

  .tip h1 {
    font-size: 34px;
  }

  button {
    font-size: 34px;
  }
}